h1{
    color: white;
    background-color: black;
}

h1 span {
    color: aqua;
}

h2{
    background-color: purple;
    color: white;
    text-align: center;
    font-style: italic;
}

h3{
    background-color: skyblue;
    text-align: right;
    text-decoration: underline;
}